body {
    margin: 0px;
    background-image: url(assets/background.jpg);
    https://cloud.google.com/cdn/ background-size: cover;
}

#navbar {
    height: 15%;
}

#nav-content {
    float: right;
    margin-right: 22px;
    margin-top: 8px;
}

#nav-content * {
    margin: 8px;
    text-decoration: none;
    color: #16bc09;
}

#google-apps {
    background: url(assets/google-apps.png);
    width: 15px;
    height: 15px;
    background-size: 100%;
    border: none;
    margin-top: 10px;
}

#submit {
    background-color: #16bc09;
    border: 1px solid darkslateblue;
    padding: 5px;
    border-radius: 3px;
}